PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/p_dot
JWT_SECRET=pdot_super_secret_jwt_key_tuguegarao_2026_xyz987
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@pdot.ph
ADMIN_PASSWORD=AdminPdot2026!
DEFAULT_CURRENCY=PHP
DEFAULT_CITY=Tuguegarao City
